/* Reset inicial para limpar conteúdo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garante que o html e o body ocupem a altura total da tela */
    margin: 0; /* Remove margens padrão */
    overflow-x: hidden; /* Previne rolagem horizontal */
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vh;
    color: #ffffff;
    cursor: url('cursor_edited.svg'), auto;
}

/* Navbar styles */
.navbar {
    width: 100%;
    height: 4.56vh; /* Altura do navbar ajustada para a altura desejada */
    background-color: #090A0E;
    top: 0;
    left: 0;
    z-index: 1030;
}

/* Media Queries para tablets e celulares */
@media (max-width: 991.98px) {
    /* Alterações da navbar, deixando mais grossa quando for celular ou tablet */
    .navbar {
        height: 8vh; /* Altura ajustada para tablets e celulares */
    }

}

.navbar .container, .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-user-select: none; /* Desativa a seleção de texto no Chrome e Safari */
    -moz-user-select: none; /* Desativa a seleção de texto no Firefox */
    -ms-user-select: none; /* Desativa a seleção de texto no Internet Explorer/Edge */
    user-select: none; /* Desativa a seleção de texto no padrão não prefixado, funcionando na maioria dos navegadores modernos */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 1vw;
}

/* Estilo para a div que será o container da imagem de fundo */
.fullscreen-background {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4.56vh); /* Subtrai a altura do navbar para preencher o restante da tela */
    background: url('backgroundSEVEN_direitosReservados.png') center center no-repeat;
    background-size: cover;
}

/* Demais estilos permanecem iguais */

/* Estilo para o SVG do logotipo `SEVEN` */
.fullscreen-background {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4.56vh); /* Ajusta a altura da div */
    background: url('backgroundSEVEN_direitosReservados.png') center center no-repeat;
    background-size: cover;
    display: flex; /* Utiliza Flexbox para posicionar o SVG */
    justify-content: flex-end; /* Alinha horizontalmente para a direita */
    align-items: center; /* Alinha verticalmente ao centro */

    /* Abaixo apenas recursos para desativar CTRL C ou CTRL V e para nao tratar nada da DIV como um texto */
    -webkit-user-select: none; /* Desativa a seleção de texto no Chrome e Safari */
    -moz-user-select: none; /* Desativa a seleção de texto no Firefox */
    -ms-user-select: none; /* Desativa a seleção de texto no Internet Explorer/Edge */
    user-select: none; /* Desativa a seleção de texto no padrão não prefixado, funcionando na maioria dos navegadores modernos */
    pointer-events: none; /* Desativa eventos de cliques no elemento */
    cursor: default; /* Força o cursor a ter a aparência padrão */
}

/* Estilo para o SVG, o logo da empresa */
.seven-logo {
    height: 25vh; /* Altura relativa ao dispositivo do usuário */
    position: absolute; /* Posicionamento absoluto dentro da sua div pai */
    right: 20%; /* 70% da esquerda para a direita */
    top: 24%; /* 37% do topo para baixo */
}

/* Estilo para o SVG adicional chamado 'line7' */
.line7-svg {
    width: 45%; /* Largura relativa à largura total da página */
    position: absolute; /* Posicionamento absoluto dentro da sua div pai */
    left: 50%; /* Centraliza horizontalmente */
    top: 88%; /* Posicionamento vertical de acordo com a altura da div */
    transform: translateX(-50%); /* Ajusta o alinhamento horizontal */
    pointer-events: none; /* Desativa eventos de cliques no elemento */
}

/* Estilo para o texto "REALIZE SEUS SONHOS!" */
.dreams-text {
    font-family: 'Raleway', sans-serif; /* Utilizando a fonte Raleway */
    font-size: 4vh; /* Altura da fonte proporcional a 5% da altura da página */
    color: #fff; /* Cor branca para o texto */
    text-align: center; /* Alinha o texto horizontalmente ao centro */
    position: absolute; /* Posicionamento absoluto dentro da sua div pai */
    width: 100%; /* Faz com que o elemento tenha a largura total da div */
    top: calc(88% - 5vh); /* Posiciona o texto acima do SVG, ajustando o valor conforme necessário */
    pointer-events: none; /* Desativa eventos de cliques no elemento */
    transform: translateY(-5%); /* Desloca o texto para cima baseado na altura do próprio texto */
    letter-spacing: 0.02em; /* Ajusta o espaçamento entre os caracteres */
}

/* Estilo para o texto da sequência numérica */
.binary-text-seven {
    font-family: 'Raleway', sans-serif; /* Utilizando a fonte Raleway */
    font-size: 1.4vh; /* Altura da fonte proporcional a 2.5% da altura da página */
    font-weight: 100; /* Define o peso da fonte como 200 para um estilo mais fino */
    color: #fff; /* Cor branca para o texto */
    text-align: center; /* Alinha o texto horizontalmente ao centro */
    position: absolute; /* Posicionamento absoluto dentro da sua div pai */
    width: 100%; /* Faz com que o elemento tenha a largura total da div */
    top: 88.3%; /* Posiciona o texto abaixo do SVG `line7` */
    overflow: hidden; /* Esconde qualquer parte do texto que exceda a largura do elemento */
    pointer-events: none; /* Desativa eventos de cliques no elemento */
}

/* Abaixo media query para a página inicial, para resolução menores que 1500pixels de largura: */
@media (max-width: 1512px) {
    .fullscreen-background {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Centraliza verticalmente o conteúdo */
      align-items: center; /* Centraliza horizontalmente o conteúdo */
      padding: 0 10%; /* Aplica 10% de margem nos lados */
    }
  
    .seven-logo {
        width: 80%; /* Altura relativa ao dispositivo do usuário */
        position: absolute; /* Posicionamento absoluto dentro da sua div pai */
        right: 10%; /* 70% da esquerda para a direita */
        top: 17%; /* 37% do topo para baixo */
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
    display: block; /* Garante que a imagem seja tratada como bloco para permitir a centralização */
  }
  
  .dreams-text {
    font-family: 'Raleway', sans-serif; /* Utilizando a fonte Raleway */
    font-size: 5vw; /* Altura da fonte proporcional a 5% da altura da página */
    color: #fff; /* Cor branca para o texto */
    text-align: center; /* Alinha o texto horizontalmente ao centro */
    position: absolute; /* Posicionamento absoluto dentro da sua div pai */
    width: 100%; /* Faz com que o elemento tenha a largura total da div */
    top: calc(88% - 5vh); /* Posiciona o texto acima do SVG, ajustando o valor conforme necessário */
    pointer-events: none; /* Desativa eventos de cliques no elemento */
    transform: translateY(-5%); /* Desloca o texto para cima baseado na altura do próprio texto */
    letter-spacing: 0.02em; /* Ajusta o espaçamento entre os caracteres */

}

.fullscreen-background {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4.56vh); /* Subtrai a altura do navbar para preencher o restante da tela */
    background: url('backgroundSEVEN_direitosReservados.png') no-repeat;
    background-size: cover;
    background-position: 37% center; /* Posiciona o background 10% mais à direita */
}
    .binary-text-seven {
      margin-left: 10%;
      margin-right: 10%;
      max-width: 90%; /* Limita a largura do conteúdo para prevenir vazamento */
      max-height: 100%;
      font-size: 1.7vw;
      
    }

  }

/* Alteração da barra de rolagem abaixo */

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 20px; /* Largura para a barra vertical */
    height: 20px; /* Altura para a barra horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #090A0E; /* Cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff000d1e; /* Cor de fundo do manipulador */
  }
  
  /* Para o Firefox */
  html {
    scrollbar-width: thin; /* "auto", "thin", ou "none" */
    scrollbar-color: 1C070A #090A0E; /* Cor do manipulador e da trilha */
  }

/*======================================= Abaixo CSS da página PRODUTOS ====================================*/

.produtos-background {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4.56vh); /* Subtrai a altura do navbar para preencher o restante da tela */
    background: linear-gradient(#090A0E, #0E090D);
    background-size: cover;
  }

  .white-band {
    background-color: #ececec; /* Não está em branco absoluto, IMPORTANTE lembrar! */
    width: 100%;
    height: 80vh; /* Altura fixa da tarja */
    position: absolute; /* Posicionamento absoluto dentro da div .produtos-background */
    top: 46%; /* Inicia em 40% da parte superior da .produtos-background */
    transform: translateY(-50%); /* Desloca para cima metade da sua própria altura para centralizar em 40% */
    left: 0; /* Alinha à esquerda */
    text-align: center;
    padding: 5.5vh 20vw;
  }

  /* Estilo adicional para a nova div dentro de .white-band */
.red-container {
    /* DESCOMENTAR A DIREITA PARA DESBUGAR: background-color: #ff0000; /* Fundo vermelho ========================================== */
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza os filhos horizontalmente */
    justify-content: flex-start; /* Alinhamento vertical no início */
    height: 100%; /* Altura sempre 100% */
    box-sizing: border-box; /* Margem e padding incluídas na largura e altura / ajuda na responsividade */
}

.red-container h1 {
    color: #000000; /* Cor do texto */
    margin-bottom: 2vh; /* Espaço abaixo do cabeçalho */
    font-weight:bolder;
}

.produto {
    /* DESCOMENTAR A DIREITA PARA DESBUGAR: =============== background-color: #001aff; /* Fundo dos produtos ====================== */
    flex-basis: calc(100% / 3 - 2vw); /* Largura dos produtos, descontando a distância entre eles */
    text-align: center; /* Texto alinhado ao centro */
    margin: 0 1vw; /* Margem horizontal entre os produtos */
    height: 100%;
    width: 100%;
}

.produto h2 {
    color: black;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: left;
}

.produto p {
    color: black;
    font-size: 1.17vh;
    text-align: left;
    font-weight: 500;
}

/* Utilize Media Queries para ajustes de responsividade */
@media (max-width: algum_breakpoint) {
    .produto {
        flex-basis: calc(100% - 7vw); /* Ajusta a base flexível para produtos em telas menores */
        margin: 0 3.5vw; /* Ajusta o espaço entre os produtos em telas menores */
    }
}

.produtos-grid {
    display: flex; /* Usa o flexbox para alinhar as divs */
    justify-content: space-between; /* Espaça as divs uniformemente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    flex-wrap: wrap; /* Permite que as divs passem para a próxima linha, se não couberem */
    width: 100%;
    height: 100%;
    position: relative;
}

/* Para garantir que o primeiro elemento não tenha margem externa extra */
.produto:first-child {
    margin-left: 0;
}

/* Para garantir que o último elemento não tenha margem externa extra */
.produto:last-child {
    margin-right: 0;
}

.produto img {
    width: 100%; /* Isso fará com que a imagem ocupe toda a largura do container do produto */
    height: auto; /* Isso manterá a proporção da imagem */
    position: relative;
}

.produto h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.produto p {
    margin-bottom: 0.5rem;
    min-height: 10vh;
}

.produto-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.preco-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.preco {
    color: black;
    font-weight: 800;
    font-size: 2vh;
}

.frete {
    color: #00843F;
    font-size: 1vh;
    font-weight: 600;
}

.comprar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    line-height: 1; /* Isto assegura que o line-height é consistente e não afeta o alinhamento */
}

.comprar:hover {
    background-color: #45a049;
}

/* Adicione isto ao seu arquivo CSS */
.navbar-collapse.collapsing {
    background: #090A0E; /* Ou qualquer cor que você deseja usar */
}

.navbar-collapse.show {
    background: #090A0E; /* Mesma cor que você deseja manter */
    padding-bottom: 20px;
}

/* Media query para a página PRODUTOS caso a largura seja menor que 1030 (corrigindo itens para ficarem verticais) */

/* Media Query para telas menores que 1030px */
@media (max-width: 1030px) {
    .white-band {
      padding: 10% 10%; /* Ou o valor que desejar para as margens */
      height: auto; /* Altura automática para ajustar ao conteúdo */
    }
  
    .produtos-grid {
      flex-direction: column;
      gap: 20px; /* Espaço entre os produtos */
    }
  
    .produto {
      width: 100%; /* Ocupar a largura total menos as margens da white-band */
      margin: 0; /* Remover margens para evitar sobreposição */
    }
  
    .red-container h1 {
      margin-top: 20px; /* Espaço acima do título, ajuste conforme necessário */
    }
  }
  
  
  