/* Mudando a cor do background geral do footer */
footer {
    background-color: #090A0E; /* Cor de fundo ajustada */
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
 
/* Estilos aplicados apenas em telas maiores que 767 pixels */
@media (min-width: 768px) {
    .footer-divider::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        right: 0;
        border-right: 1px solid #333; /* Cor da linha */
        height: 90%;
    }
  
    .footer-column {
        position: relative;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .footer-column.img-fluid-padding {
        padding-bottom: 30px;
    }
  }

/* Removendo o padding lateral padrão do container */
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0;
    padding-left: 0;
}

/* Ajusta o tamanho da imagem para corresponder ao layout desejado */
.img-fluid {
    margin-bottom: 0; /* Remove a margem inferior */
    width: auto; /* Mantém a largura original da imagem */
    height: auto; /* Para manter a proporção */
    max-width: 100%; /* Impede que a imagem estoure o contêiner */
    max-height: 100px; /* Altura máxima para a imagem */
}

/* Estilos adicionais para os títulos e listas, conforme necessário */
h5 {
    margin-bottom: 0.5rem; /* Espaçamento menor abaixo dos títulos */
    padding-bottom: 0.5rem; /* Espaçamento menor acima da linha divisória */
    border-bottom: 1px solid #333; /* Linha fina */
    width: 100%;
    font-size: 80%;
    font-weight: bold;
}

ul {
    padding-left: 0; /* Remove o padding da lista */
}

/* Estilos adicionais para links */
a {
    font-size: 70%;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #d3d3d3; /* Cor ao passar o mouse */
}

/* Estilo para o texto no fundo do footer */
.footer-bottom {
    border-top: 1px solid #333; /* Linha acima do texto */
    padding-top: 1rem; /* Espaçamento antes do texto */
    color: #aaa; /* Cor do texto */
    font-size: 0.8rem; /* Tamanho do texto */
}

.footer_icon {
    margin-right: 10px;
}

#copy {
    font-size: 70%;
}

/* quando tiver menor de 768 pixels de largura o SEVEN do footer terá mais espaçamento abaixo dele */
@media (max-width: 767px) {
    .footer-column.img-fluid-padding {
      padding-bottom: 30px;
    }
  }

