/* Estilo para a div que será o container da imagem de fundo */
.sobre-background {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4.56vh); /* Subtrai a altura do navbar para preencher o restante da tela */
    background: linear-gradient(180deg, #0B0B0F 0%, #3E0E15 100%);
    background-size: cover;
    background-image: url('quadriculado.svg'), linear-gradient(180deg, #0B0B0F 0%, #3E0E15 100%);
    background-repeat: no-repeat, repeat;
    background-position: center, center;
}
