/* =================================================================================== COMEÇO RESET INICIAL ================================================================================== */

/* Reset inicial para limpar conteúdo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garante que o html e o body ocupem a altura total da tela */
    margin: 0; /* Remove margens padrão */
    overflow-x: hidden; /* Previne rolagem horizontal */
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vh;
    color: #ffffff;
    cursor: url('cursor_edited.svg'), auto;
}

/* =================================================================================== FINAL RESET INICIAL ================================================================================== */








/* =================================================================================== COMEÇO NAVBAR ================================================================================== */


/* Navbar styles */
.navbar {
    width: 100%;
    height: 4.56vh; /* Altura do navbar ajustada para a altura desejada */
    background-color: #090A0E;
    top: 0;
    left: 0;
    z-index: 1030;
}

/* Media Queries para tablets e celulares */
@media (max-width: 991.98px) {
    /* Alterações da navbar, deixando mais grossa quando for celular ou tablet */
    .navbar {
        height: 8vh; /* Altura ajustada para tablets e celulares */
    }

}

.navbar .container, .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-user-select: none; /* Desativa a seleção de texto no Chrome e Safari */
    -moz-user-select: none; /* Desativa a seleção de texto no Firefox */
    -ms-user-select: none; /* Desativa a seleção de texto no Internet Explorer/Edge */
    user-select: none; /* Desativa a seleção de texto no padrão não prefixado, funcionando na maioria dos navegadores modernos */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 1vw;
}

  /* Tintura para a fundo do MENU hamburguer em celulares */
  .navbar-collapse.collapsing {
    background: #090A0E; /* Ou qualquer cor que você deseja usar */
}

  /* Tintura para a fundo do MENU hamburguer em celulares */
.navbar-collapse.show {
    background: #090A0E; /* Mesma cor que você deseja manter */
    padding-bottom: 20px;
}

 
/* =================================================================================== FINAL NAVBAR ================================================================================== */









/* =================================================================================== COMEÇO ALTERAÇÕES BARRA DE ROLAGEM CANTO DIREITO TELA ================================================================================== */


/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 20px; /* Largura para a barra vertical */
    height: 20px; /* Altura para a barra horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #090A0E; /* Cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff000d1e; /* Cor de fundo do manipulador */
  }
  
  /* Para o Firefox */
  html {
    scrollbar-width: thin; /* "auto", "thin", ou "none" */
    scrollbar-color: 1C070A #090A0E; /* Cor do manipulador e da trilha */
  }


/* =================================================================================== FINAL ALTERAÇÕES BARRA DE ROLAGEM CANTO DIREITO TELA ================================================================================== */
















/* ================================================================================================================= COMEÇO DA PÁGINA DE PRODUTOS =========================================================================================================== */

/* ---------------- COMEÇO DO CSS CASO SEJA SMARTPHONE OU TABLET PARA PRODUTOS ----------------------------- */

/* Estilos base para garantir que a fonte e as imagens sejam responsivas */
@media (max-width: 991px) {
    html {
        font-size: 100%; /* Ajusta a fonte base para ser responsiva */
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    /* Estilos para a seção de produtos */
    .produtos-background {
        background-color: #f5f5f5; /* Cor de fundo da seção */
        padding: 20px;
        text-align: center;
    }
    
    .produtos-grid {
        display: flex;
        flex-direction: column; /* Empilha os produtos verticalmente */
        gap: 20px; /* Espaçamento entre produtos */
    }
    
    .produto {
        background-color: #ffffff; /* Cor de fundo para cada produto */
        border: 1px solid #dddddd; /* Borda sutil para cada produto */
        padding: 30px;
        border-radius: 4px; /* Bordas arredondadas para as DIVs dos produtos */
    }

    .produto p {
        color:black;
    }
    
    .preco-produto {
        font-size: 2.5vw; /* Fonte responsiva baseada na largura da viewport */
        font-weight: 800;
        color: black;
        font-weight: bold;
        font-size: 150%;
    }
    
    .frete {
        color: #00843F; /* Cor do texto para 'Frete grátis' */
        font-size: 50%; /* Fonte responsiva para o texto de frete */
        font-weight: bold;
    }
    
    /* Estilos para o título da seção */
    h1 {
        font-size: 7vw; /* Título responsivo */
        margin-bottom: 20px; /* Espaço abaixo do título */
        color: black;
        font-weight: 500;
    }
    
    h2 {
        color: black;
    }
    
    /* Estilos para os botões de compra */
    button {
        background-color: #4CAF50; /* Cor de fundo para o botão */
        color: white; /* Cor do texto para o botão */
        border: none; /* Sem borda para o botão */
        padding: 10px 40px; /* Padding para o botão */
        border-radius: 4px; /* Bordas arredondadas para o botão */
        font-size: 2vw; /* Fonte responsiva para o botão */
        margin-top: 10px; /* Espaço acima do botão */
    }
}
  

  
/* ---------------- FINAL DO CSS CASO SEJA SMARTPHONE OU TABLET PARA PRODUTOS (TELAS MENORES QUE 992 PIXELS) ----------------------------- */










/* ------------------------- COMEÇO DO CSS CASO SEJA COMPUTADOR OU TV (TELAS DE 992 PIXELS OU MAIORES) ------------------------------------ */

/* CASO SEJA TELA DE COMPUTADOR (MAIOR QUE 1030PIXELS DE LARGURA) */
    @media (min-width: 992px) {
    .produtos-background {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 4.56vh); /* Subtrai a altura do navbar para preencher o restante da tela */
        background: linear-gradient(#090A0E, #0E090D);
        background-size: cover;
    }

    .white-band {
        background-color: #ececec; /* Não está em branco absoluto, IMPORTANTE lembrar! */
        width: 100%;
        height: 80vh; /* Altura fixa da tarja */
        position: absolute; /* Posicionamento absoluto dentro da div .produtos-background */
        top: 46%; /* Inicia em 40% da parte superior da .produtos-background */
        transform: translateY(-50%); /* Desloca para cima metade da sua própria altura para centralizar em 40% */
        left: 0; /* Alinha à esquerda */
        text-align: center;
        padding: 5.5vh 20vw;
    }

    /* Estilo adicional para a nova div dentro de .white-band */
    .red-container {
        /* DESCOMENTAR A DIREITA PARA DESBUGAR: background-color: #ff0000; /* Fundo vermelho ========================================== */
        display: flex; /* Ativa o Flexbox */
        flex-direction: column; /* Organiza os filhos em coluna */
        align-items: center; /* Centraliza os filhos horizontalmente */
        justify-content: flex-start; /* Alinhamento vertical no início */
        height: 100%; /* Altura sempre 100% */
        box-sizing: border-box; /* Margem e padding incluídas na largura e altura / ajuda na responsividade */
    }

    .red-container h1 {
        color: #000000; /* Cor do texto */
        margin-bottom: 2vh; /* Espaço abaixo do cabeçalho */
        font-weight:bolder;
        font-size: 2.3vw;
        font-weight: 600;
    }

    .produto {
        /* DESCOMENTAR A DIREITA PARA DESBUGAR: =============== background-color: #001aff; /* Fundo dos produtos ====================== */
        flex-basis: calc(100% / 3 - 2vw); /* Largura dos produtos, descontando a distância entre eles */
        text-align: center; /* Texto alinhado ao centro */
        margin: 0 1vw; /* Margem horizontal entre os produtos */
        height: 100%;
        width: 100%;
    }

    .produto h2 {
        color: black;
        font-size: 2.5vh;
        font-weight: bold;
        text-align: left;
    }

    .produto p {
        color: black;
        font-size: 1.17vh;
        text-align: left;
        font-weight: 500;
    }

    /* Utilize Media Queries para ajustes de responsividade */
    @media (max-width: algum_breakpoint) {
        .produto {
            flex-basis: calc(100% - 7vw); /* Ajusta a base flexível para produtos em telas menores */
            margin: 0 3.5vw; /* Ajusta o espaço entre os produtos em telas menores */
        }
    }

    .produtos-grid {
        display: flex; /* Usa o flexbox para alinhar as divs */
        justify-content: space-between; /* Espaça as divs uniformemente */
        align-items: center; /* Centraliza verticalmente, se necessário */
        flex-wrap: wrap; /* Permite que as divs passem para a próxima linha, se não couberem */
        width: 100%;
        height: 100%;
        position: relative;
    }

    /* Para garantir que o primeiro elemento não tenha margem externa extra */
    .produto:first-child {
        margin-left: 0;
    }

    /* Para garantir que o último elemento não tenha margem externa extra */
    .produto:last-child {
        margin-right: 0;
    }

    .produto img {
        width: 100%; /* Isso fará com que a imagem ocupe toda a largura do container do produto */
        height: auto; /* Isso manterá a proporção da imagem */
        position: relative;
    }

    .produto h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }

    .produto p {
        margin-bottom: 0.5rem;
        min-height: 10vh;
        font-weight: 300;
    }

    .produto-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .preco-produto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .preco {
        color: black;
        font-weight: 500;
        font-size: 2vh;
    }

    .frete {
        color: #00843F;
        font-size: 1vh;
        font-weight: 600;
    }

    .comprar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0.5rem 1rem;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        line-height: 1; /* Isto assegura que o line-height é consistente e não afeta o alinhamento */
    }

    .comprar:hover {
        background-color: #45a049;
    }
    }

/* ------------------------- COMEÇO DO CSS CASO SEJA COMPUTADOR OU TV (TELAS DE 992 PIXELS OU MAIORES) ------------------------------------ */


/* ================================================================================================================= FINAL DA PÁGINA DE PRODUTOS =========================================================================================================== */




  
  